<table class="table table-bordered table-striped table-condensed">
<thead>
    <tr>
        <th><a href="<%= statics.url %>" target="_blank"><%= statics.url %></a></th>
    </tr>
</thead>
<tbody>
    <tr>
        <td><a href="<%= statics.long_url %>" target="_blank"><%= statics.long_url %></a></td>
    </tr>
    <tr>
        <td><strong><%= statics.clicks %></strong> clicks</td>
    </tr>
</tbody>
</table>
