<table class="table table-bordered table-striped table-condensed">
<thead>
    <tr>
        <th><a href="<%= statistic.url %>" target="_blank"><%= statistic.url %></a></th>
    </tr>
</thead>
<tbody>
    <tr>
        <td><a href="<%= statistic.long_url %>" target="_blank"><%= statistic.long_url %></a></td>
    </tr>
    <tr>
        <td><strong><%= statistic.clicks %></strong> clicks</td>
    </tr>
</tbody>
</table>
